body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

#page{
  width: 1000px;
  margin: 0 auto;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 48px;
}

nav li a{
  text-decoration: none;
  color: #1F1534;
  opacity: 0.5;
  font-family: 'Mulish', sans-serif;
}

nav a:hover{
  font-weight: bold;
  opacity: 1;
}

main{
  height: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 160px;
}

section{
  width: 490px;
  
}

h1{
  font-family: 'Mulish', sans-serif;
  font-size: 49px;
  width: 490px;
  font-weight: normal;
  margin-bottom: 40px;
}

h1 span{
  color: #89C5CC;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

section p{
  font-size: 14px;
  line-height: 28px;
  width: 430px;
  margin-bottom: 40px;
  color: #7D7987;
}

section p span{
  font-weight: bold;
}

button{
  width: 180px;
  height: 55px;
  background: #69B99D;
  font-family: 'Mulish', sans-serif;
  color: white;
  font-size: 16px;
  margin-top: 0px;

  border: none;
  border-radius: 4px;

  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* */
button:hover{
  background: #58ac8e;
}

footer{
  text-align: center;
  line-height: 28px;
  font-size: 14px;
}

footer a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#balls{
  position: fixed;
  right: 0;
  bottom: 0;
}